#giphy{
    width: 25%;
    margin: 2em auto;
    display: none;
    margin: auto 10px;
}
.recent-movie{
    margin:0;
    padding-left: 5px;
    border: 1px solid lightgray;
}
.uk-card h3{
    background-color: lightgray;
    margin-bottom: 0;
    padding:5px
}

#movieDisplay section img{
    width: 250px;
    height: 350px;
}

#movieDisplay section img:hover{
    cursor:pointer;
}

#movieDisplay section span{
    display: none;
}

#imageSrc {
    width: 240px;
    height: 344px;
}
/* media Query */

@media only screen  and (max-width:960px){
    #giphy{
        width: 100%;
        margin:10px auto ;
    }
}