#giphy{
    width: 25%;
    margin: 2em auto;
    display: none;
    margin: auto 10px;
}
.recent-movie{
    display: block;
    margin:0;
    padding: 10px;
    border: 1px solid gray;
}
.recent-movie:hover{
    border: 1px solid white;
    cursor: pointer;
    text-decoration: none;
}
.recent-movie:active{
    background-color: rgb(80, 80, 80);
}

.uk-card h3{
    background-color: lightgray;
    margin-bottom: 0;
    padding:5px
}

#movieDisplay section img{
    width: 250px;
    height: 350px;
}

#movieDisplay section img:hover{
    cursor:pointer;
}

#movieDisplay section span{
    display: none;
}

#imageSrc {
    width: 240px;
    height: 344px;
}
/* media Query */

@media only screen  and (max-width:960px){
    #giphy{
        width: 100%;
        margin:10px auto ;
    }
}